*{
   box-sizing: border-box;
}


.top, .left, .bottom, .right{
   position: fixed;
   height: 50%;
   width: 50%;
   text-align: center;
   padding: 20px;
}

.top.left{
   background: #BE90D4;
   top: 0; left: 0;
}


.top.right{
   background: #E26A6A;
   top: 0; right: 0;

}

.bottom.left{
   background: #86E2D5;
   bottom: 0; left: 0;
}

.bottom.right{
   background: #F4B350;
   bottom: 0; right: 0;

}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  background: intial: ;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #3A539B;
  border-color: #3A539B; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1F3A93;
  border-color: #1F3A93; }




input{
   line-height: 1.5;
   font-size: 2rem;
}

button.adder {
   background: #22313F;
   font-size: 20px;
   color: #fff;
}

.travis-stream li {
   list-style-type: none;
   text-align: left;
   font-size: 2.55rem;
   background: rgba(255,255,255,.25)
}

.stop-everything{
   background: darkred;
   color: #fff;
   font-weight: 700;
}

/*  */
.left-side, .right-side{
   position: fixed;
	top: 0;
   height: 100%;
   width: 50%;
   text-align: center;
   padding: 20px;	
}
.left-side{
	left: 0;
	background: #34495E;

}
.right-side{
	left: 50%;
	color: #34495E;

}
